/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
    padding-top: 3.5rem;
  }

#organism_select label {
    margin-left: +5px;
  }

#location_select label {
     margin-left: +5px;
  }

.tooltip-inner {
    white-space:pre-wrap;
}

.load-example {
    cursor: pointer;
}

.load-example:hover {
  cursor: pointer;
  background-color: #545b62;
}