{% extends "base.html" %}
{% block page_title %}LMPM guide{% endblock %}
{% block content %}

<main role="main">
    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <h1>User guide</h1>

                <p>In construction, come back soon.</p>

                <p>Note to editors:</p>


                <p id="prova2">Note to editors:</p>

                <p>Explain how to run the tool and interpret the results, similar to
                    https://www.crisprbehive.design/guide, or https://crispresso.pinellolab.partners.org/help</p>


            </div>
        </div>
    </div>
</main>


<!-- Make the class active on the navbar -->
<script>
    var nav_item = document.getElementById("nav_guide");
    nav_item.classList.add("active");
</script>

{% endblock %}