{% extends "base.html" %}
{% block page_title %}LMPM home{% endblock %}
{% block content %}



<main role="main">

    <!-- Main jumbotron for a primary marketing message or call to action -->
    <div class="jumbotron">
        <div class="container">
            <h1 class="display-3">Lean, Mean, Protein Machine!</h1>
            <p>Helping protein designers predict where proteins are expressed since 2021.</p>
            <p><a class="btn btn-primary btn-lg" href="#predictor_container" role="button">Try it &raquo;</a></p>
            <p><a class="btn btn-primary btn-lg" href="{{ url_for('get_about') }}" role="button">Learn more &raquo;</a>
            </p>
        </div>
    </div>

    <div class="container">
        <!-- Example row of columns -->
        <div class="row">
            <div class="col-md-4">
                <h3>Protein secretion</h3>
                <p><b>Some info about protein secretion and why it is important.</b> Donec id elit non mi porta gravida
                    at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h3>Our model</h3>
                <p><b>Some info about what dataset we used to train a ML model to predict it.</b> Donec id elit non mi
                    porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor
                    mauris condimentum nibh, ut fermentum massa justo sit amet risus. Etiam porta sem malesuada magna
                    mollis euismod. Donec sed odio dui. </p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
            <div class="col-md-4">
                <h3>Applications</h3>
                <p><b>Some info about what you can get with this model or what you can use it for.</b> Donec sed odio
                    dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                    porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh,
                    ut fermentum massa justo sit amet risus.</p>
                <!-- <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p> -->
            </div>
        </div>
    </div> <!-- /container -->

    <hr>

    <div class="container" id="predictor_container">
        <div class="row">
            <div class="col-md-12">
                <h2>Predict localization from protein sequence</h2>

                <form method="POST" , action="{{url_for('load_seqs')}}">

                    <div class="form-group">
                        <label for="seqs"><b>Enter your sequences of interest.</b>  Use FASTA format for DNA or amino acid sequence. You can
                            paste more than one sequence.</label>
                        <div class="col-md-9">
                        <textarea class="form-control" style="min-width: 100%" name='seqs' id="seqs" rows="10" placeholder="Enter sequences here..."></textarea>
                        </div>
                    </div>

                    <div class="form-group">
                        <p><b>Select organism of interest:</b></p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="species" value="human"
                                id="human">
                            <label class="form-check-label" for="human"><i>Homo sapiens</i></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="species" value="yeast"
                                id="yeast">
                            <label class="form-check-label" for="yeast"><i>Saccharomyces cerevisiae</i></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="species" value="ecoli"
                                id="ecoli">
                            <label class="form-check-label" for="ecoli"><i>Escherichia coli</i></label>
                        </div>
                    </div>

                    <div class="form-group">
                        <p><b>Select localization of interest:</b></p>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="location"
                                value="cytoplasm" id="cytoplasm">
                            <label class="form-check-label" for="cytoplasm">Cytoplasm</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="location"
                                value="membrane" id="membrane">
                            <label class="form-check-label" for="membrane">Membrane</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input class="form-check-input" type="radio" name="location"
                                value="secreted" id="secreted">
                            <label class="form-check-label" for="secreted">Secreted</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-check form-switch">
                            <input class="form-check-input" type="checkbox" name="add_feat"
                                id="add_feat" value="add_feat">
                            <label class="form-check-label" for="add_feat"><b>Include additional
                                features</b> (may improve the model accuracy)</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <input class="btn btn-primary" type="submit" value="Predict">
                        <input class="btn btn-outline-primary" type="reset" value="Reset">
                    </div>
                </form>

            </div>
        </div>
    </div>

    <hr>

</main>

<!-- Make the class active on the navbar -->
<script>
    var nav_item = document.getElementById("nav_home");
    nav_item.classList.add("active");
</script>

{% endblock %}