{% extends "base.html" %}
{% block page_title %}LMPM improve{% endblock %}
{% block content %}

<main role="main">
    <div id="accordion">
        <div class="container">
            <div class="row pt-5">
                <div class="col-md-12">
                    <h1>Mutation effects on score</h1>
                    <p>The plot below shows how much each mutation increases (red) or decreases (blue) the protein secretion for the target class, which in this case was selected to be <code>{{loc}}</code> in <code>{{specie}}</code>. </p>
                    <img src={{plot}} alt="SSM chart" height="600">        
                </div>
            </div>
            <div class="row pt-5">
                <div class="col-md-12">
                    <p>The best mutations to improve the probability of localizing the protein at the <code>{{loc}}</code> in <code>{{specie}}</code> are:</p>
                    {% for table in tables %}
                        {{ table|safe }}
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>



    <div class="container">
        <div class="row">
            <div class="col-md-12 pt-5">
                <a href='/'>Go back to home page</a>
            </div>
        </div>
    </div>
</main>


<!-- Make the class active on the navbar -->
<script>
    var nav_item = document.getElementById("nav_home");
    nav_item.classList.add("active");
</script>

{% endblock %}